layout {

    focus-ring {
        active-color   "#2264c3"
        inactive-color "#d9e3f2"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#2264c3"
        inactive-color "#d9e3f2"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#c4cbd470"
    }

    tab-indicator {
        active-color   "#2264c3"
        inactive-color "#b2c7e6"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#2264c380"
    }
}

recent-windows {
    highlight {
        active-color "#2264c3"
        urgent-color "#fd4663"
    }
}
