// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            //layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        scroll-factor 0.5 // Slow down two-finger scroll speed (default 1.0)
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        accel-profile "flat"
        accel-speed 0.0
    }

    focus-follows-mouse max-scroll-amount="0%" // 聚焦但不滚动
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
