    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"

        // Fcitx5 input method (for Xwayland / legacy apps)
        GTK_IM_MODULE "fcitx"
        QT_IM_MODULE "fcitx"
        SDL_IM_MODULE "fcitx"
        XMODIFIERS "@im=fcitx"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
