    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
        default-column-width {} // Use every window's own preferred size
    }

    window-rule {
        match title="Sinmai"
        open-floating false
    }

    window-rule {
        match title="Hold on..."
        open-floating true
    }

    window-rule {
        match app-id="labwc"
        default-column-width { fixed 3413; }
    }

    window-rule {
        match app-id="fusion360.exe"
        default-column-width { fixed 2000; }
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
