.linkContainer {
  position: absolute;
  left: 150px;
  width: 300px;
  height: max-content;
  top: -60px;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  border-color: #eaeaea;
  border-width: 1px;
  border-style: solid;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  color: #303133;
  @media (max-width: 500px) {
    border-radius: 0;
    border-color: #eaeaea;
    border-bottom-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.3);
    left: 0;
    width: 100vw;
    top: 0;
    margin: 0;
  }

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    height: 50px;
    border-bottom: #eaeaea 1px solid;
    transition: all 0.5s;

    span {
      font-size: x-small;
      display: block;
      color: #606266;
    }
  }

  > a:hover {
    @-moz-document url-prefix() {
      background-color: #fff;
    }

    span {
      color: #303133;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 70px;
    font-size: x-large;
    border-bottom: #eaeaea 1px solid;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 40px;
    font-size: large;

    .space {
      flex-grow: 1;
      height: 100%;
    }

    a {
      transition: all 0.3s;
      color: #909399;
      margin: 0 2px;
      cursor: pointer;
    }

    a:hover {
      color: #303133;
    }
  }
}

.friendLinkBox {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 15px;
  height: 80px;
  box-sizing: content-box;
  background-color: var(--color);

  &:last-child {
    //最后一个的 margin 放在 div.groupBox 的 ::after 里，这样 div 之间不会空开
    margin-bottom: 0;
  }

  &.mtfWikiLinkBox {
    background-image: url('https://cdn.lwqwq.com/pic/Transgender_Pride_flag_rotate.svg');
    background-size: cover;
    border-color: transparent;
    --color: #f5abb9;

    ::selection {
      color: #5bcffa;
    }

    .avatar {
      border-right-color: transparent;
      background-clip: padding-box;
    }

    .text {
      .name {
        border-bottom-color: transparent;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0.7);
      }

      .desc {
        .less {
          display: none;
        }

        .more {
          display: unset;
        }

        @media (max-width: 425px) {
          .less {
            display: unset;
          }

          .more {
            display: none;
          }
        }
      }
    }
  }

  ::selection {
    background-color: var(--color);
    color: #fff;
  }

  .avatar {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: var(--color);
    height: 80px;
    width: 80px;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .text {
    display: flex;
    flex-direction: column;
    flex: 1;

    .name {
      height: 32px;
      min-height: 32px;
      max-height: 32px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: var(--color);
      background-color: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 5px;
      color: #303133;
      font-size: smaller;
    }

    .desc {
      flex: 1;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: left;
      align-items: flex-start;
      padding-left: 5px;
      padding-top: 5px;
      color: #454750;
      font-size: small;
    }
  }
}

.friendContainer {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  @media (min-width: 500.001px) {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eaeaea;
  }
  @media (max-width: 500px) {
    width: 100vw;
  }

  .scrollBox {
    overflow-x: hidden;
    overflow-y: auto;
    height: inherit;
    width: 100%;

    .groupBox {
      &::after {
        content: '';
        display: block;
        height: 10px;
        min-height: 10px;
      }

      .title {
        position: sticky;
        top: 0;
        height: 85px;
        z-index: 1;
        width: 500px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.6);
        color: #303133;
        font-size: x-large;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 500px) {
          width: 100vw;
        }
      }
    }
  }
}

.errorContainer {
  position: absolute;
  left: 15vw;
  height: 100px;
  top: 0;
  bottom: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #303133;
  @media (max-width: 500px) {
    left: 0;
    width: 100vw;
    top: 15vw;
    margin: 0;
  }

  div {
    background-color: unset !important;
  }
}

.pgpContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  @media (max-width: 500px) {
    width: 100vw;
  }
  @media (min-width: 1000px) {
    width: 50vw;
  }

  .id {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #eaeaea;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: #303133;
    font-size: x-large;
    font-family: Monaco, "JetBrains Mono", Monospaced, monospace;
    position: absolute;
    top: 20vh;
    width: max-content;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 15px;
  }

  .buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 180px;
    bottom: 15vh;
    left: 0;
    right: 0;
    margin: auto;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      margin: 5px 0;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.5);
      border-color: rgba(234, 234, 234, 0.6);
      backdrop-filter: blur(5px);
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      transition: all 0.5s;
      color: #303133;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
        border-color: rgba(234, 234, 234, 0.8);
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: small;
      }
    }
  }
}

.aboutContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  .title {
    position: absolute;
    top: 0;
    height: 85px;
    z-index: 1;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    color: #303133;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1000px) {
      display: none;
    }
  }

  .content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: left;

    @media (max-width: 600px) {
      top: 0;
      align-items: flex-start;
    }

    > div {
      flex-shrink: 1;
      padding: 0 80px;
      max-height: 100%;
      overflow-y: auto;
      color: #303133;
      white-space: nowrap;
      @media (max-width: 1000px) {
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        width: 100%;
      }
      @media (max-width: 950px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        white-space: unset;
        padding-top: 85px;
        max-height: 100vh;
      }
      @media (max-width: 500px) {
        padding: 85px 40px;
      }
    }
  }

  .languageSwitch {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;

    @media (max-width: 1000px) {
      display: none;
    }

    > a {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 60px;
      color: #606266;
    }
  }

  .languageSwitchMobile {
    top: 0;
    right: 0;
    height: 85px;
    display: flex;
    font-size: x-large;
    position: absolute;
    padding-right: 10px;
    align-items: center;
    z-index: 2;

    @media (min-width: 1000px) {
      display: none;
    }
  }
}

.back {
  top: 0;
  height: 85px;
  display: flex;
  font-size: x-large;
  position: absolute;
  padding-left: 10px;
  align-items: center;
  z-index: 2;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transform: translateX(0px) translateY(70px);
  opacity: 0;
  height: 49px;
  width: 298px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  z-index: -1;
  transition: opacity 0.5s ease,
  transform 0.3s ease,
  height 0.3s ease,
  width 0.3s ease;
}

.blogLayout {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  @media (min-width: 900px) {
    width: 900px;
    margin: 0 auto;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    display: flex;
    color: #303133;
    z-index: 1;
    align-items: center;
    line-height: 50px;

    .back {
      height: 50px;
      padding: 0 5px;
      position: unset;
      color: #606266;
    }
  }

  .body {
    height: 100vh;
    overflow: hidden;
    padding: 55px 0 5px 0;
  }

  .postList{
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 55px 0 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .postItem {
    padding: 15px 15px 0 15px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;

    @media (max-width: 1900px) {
      backdrop-filter: blur(5px);
    }

    .title {
      color: #303133;
      font-size: x-large;
      font-weight: 500;
    }

    .date {
      color: #909399;
      font-size: small;
      margin: 0.6em 0;
    }

    .desc {
      color: #606266;
    }

    .banner{
      width: 100%;
      max-height: 30vh;
      object-fit: cover;
      margin-top: 0.6em;
    }

    .hf{
      margin: 15px 0 0 0;
      height: 0;
      border-bottom: 1px solid rgba(128,128,128,.12);
    }
  }
}
