.container {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  max-height: calc(100vh - 50px);
  @media screen and (min-width: 500.001px) {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eaeaea;
    min-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
  }
  @media screen and (max-width: 500px) {
    width: 100vw;
    max-height: 100vh;
  }

  .titlebar {
    position: sticky;
    top: 0;
    height: 85px;
    z-index: 2333;
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    color: #303133;
    @media screen and (max-width: 500px) {
      width: 100vw;
    }

    .title {
      position: absolute;
      height: 85px;
      font-size: x-large;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .back {
      //为了保证标题居中所以返回按钮不嵌入在标题里
      top: 0;
      height: 85px;
      display: flex;
      font-size: x-large;
      position: absolute;
      padding-left: 10px;
      align-items: center;
    }
  }
}
